.content__block {
 text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.content__desc {

  color: #7483a5;
  font-size: large;
  margin-bottom: 35px
}

.block__name {
  font-size: x-large;
  color: #464d62;

}