.arrow {
  display: flex;
  flex-direction: row;
  background-color: #353e4e;
  width: 100px;
  height: 47px;
  margin-left: auto; 
  justify-content: space-around;
  align-items: center;
}

.arrow__block {
  

}