.skill__list {
  display: flex;
  flex-direction: row;
}

.skill__item {
  width: 150px;
  height: 150px;
  border: 5px solid #e9e9e9;
  border-radius: 50%;

  &:nth-child(1) {
    border: 10px solid #6100eb;
    border-right: 10px solid transparent;
  }
}